<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>List of customer biba</h4>
    {% block content %}
    <table border="1">
        <tr>
            <th>Firstname</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>

    {% for field in customer %}
        <tr>
            <td>{{ field.first_name }}</td>
            <td>{{ field.last_name }}</td>
            <td>{{ field.email }}</td>
            <td>{{ field.phone }}</td>
        </tr>
    {% endfor %}
    </table>
    {% endblock %}

</body>
</html>